<h1>{{title}}</h1>
<p>Welcome to {{title}}
<div id="map"></div>
<!--TODO script in map.js packen-->
<script>
    let myMap = L.map('map').setView([47.22354, 8.81714], 12);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoicGZhaWMiLCJhIjoiY2pmMWVjdnMxMGMydjJ3azdyZ2IwYXZvYSJ9.EoFOF5gnxwQR2C2kzF4ceg',
    }).addTo(myMap);
    
    function onClick (pos) {
        L.marker([pos.latlng.lat, pos.latlng.lng],{
            draggable: true
        }).addTo(myMap);
    }

    myMap.on('click', onClick);
</script>
<p>sosidnc</p>
