body{
    background: lightblue;
}
html, body
{
    height: 100%;
}
#root{
    height: 100%;
    background: lightgray;
}
#selectionText{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
#title{
    font-size: large;
    font-weight: bold;
}
@media (min-width: 960px) {
    .sidePadding{
        padding-left: 24px;
        padding-right: 24px;
    }
}
#show-matches-button:hover{
    background-color: #d8383b;
}
#show-post-button:hover{
    background-color: #dd7025;
}