body{
    background: lightblue;
}
html, body
{
    height: 100%;
}
#root{
    height: 100%;
    background: lightgray;
}
#selectionText{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
#title{
    font-size: large;
    font-weight: bold;
}