body{
    background: lightblue;
}
html, body
{
    height: 100%;
}
#root{
    height: 100%;
    background: lightgray;
}
#logout{
    background: whitesmoke;
    color: black;
    text-align: center;
    vertical-align: middle;
}